<html>
    <head>
    </head>
    <body>
        <h1>Logged in  ===  {{is_logged_in}}</h1>
        <a href="/sign_up">Sign Up</a>
        <a href="/log_in">log In</a>
        <form method="post" action="/">
            <button>Log Out  {{button_count}}</button>
        </form>
    </body>
</html>