<html>
    <head>
    </head>
    <body>
        <form method="post" action="/log_in">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">Log in {{log_in_count}}</button> 
        </form>
        <a href="/sign_up">Sign Up</a>
    </body>
</html>


