<html>
    <head>
    </head>
    <body>
        <form method="post" action="/sign_up">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">Sign Up {{sign_up_count}}</button> 
        </form>
    </body>
</html>


